
Dear @Model.FirstName,

<p>Please click this link to reset your password: <a href="@Model.Url">@Model.Url</a></p>


<p>If you did not request for your password to be changed, please ignore this email</p>

- UTS HELPS
