<!DOCTYPE html>
<html>
<head>
    <title>UTS HELPS - Reset Password</title>
    <link rel="stylesheet" type="text/css" href="http://helps.pagnan.com.au/Content/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
</head>
<body>
    <div class="row">
        <div class="medium-5 small-11 small-text-center center">
            @*<img src="~/Assets/images/Logo.png" class="logo" />*@
            <br />
            <h2 class="small-text-center" style="color:white; margin-bottom:20px;">UTS: HELPS</h2>
            
            <div class="small-12 card">
                <h2>Confirm Email</h2>
                <div class="small-text-center">
                    <h5>@Model.Message</h5>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</html>